<table id="checks">
    <thead>
    <tr>
        <th>OK</th>

        <!--th>&#x1F369;</th>
        <th>&#x1F459;</th>
        <th class="error">&#x1F335;</th>
        <th>&#x1F52B;</th>
        <th>&#x1F415;</th>

        <th>&#x1F400;</th>
        <th>&#x260E;</th>
        <th>&#x1F5FF;</th>
        <th>&#x1F648;</th>
        <th>&#x1F4EF;</th-->
    </tr>
    </thead>
    <tbody>
    <!--tr class="env">
        <td class="name">Production</td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
    </tr>
    <tr class="env error">
        <td class="name">Demo</td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td class="error">
            <span class="check ">&#x2713;</span><span class="check">&#x2713;</span><span class="check error">&#x1F7A9;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
        <td>
            <span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span><span class="check">&#x2713;</span>
        </td>
    </tr-->
    </tbody>
</table>